
<%= stylesheet_link_tag "articles", :media => "all" %>

<div class="row index-view">
    <h3>記事一覧</h3>
    <hr>
    <table class="table">
        <% @articles.each do |article| %>
            <tr>
                <td>
                <div class="flex-md-row h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h4 class="mb-0">
                            <%= link_to article.title, article_path(article), class: "text-dark" %>
                        </h4>
                        <div class="mb-1 text-muted"><%= article.category.name %></div>
                        <!-- <p class="card-text mb-auto"><%#= article.content.truncate(100) %></p> -->
                        <p class="card-good mb-auto"><i class="far fa-thumbs-up"></i> <%= article.favorites.length %></p>
                        <div class="mb-1 text-muted card-username"><%= article.updated_at.strftime('%Y/%m/%d') %> - <%= article.user.name %></div>
                    </div>
                </div>
                </td>
            </tr>
        <% end %>
    </table>
    <%= paginate @articles %>
</div>


