
<%= stylesheet_link_tag "articles", :media => "all" %>

<div class="row index-view">
    <h2>記事一覧</h2>
    <hr>
    <div class="row mb-2">
        <div class="col-md-6">
            
        </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <% @articles.each do |article| %>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary"></strong>
                    <h3 class="mb-0"><%= link_to article.title, article_path(article) %></h3>
                    <div class="mb-1 text-muted"><%= article.category.name %>/<%= article.user.name %></div>
                    <p class="card-text mb-auto"><%= article.favorites.length %>いいね！</p>
                </div>
            </div>
        <% end %>
    </main>
</div>


