<%= stylesheet_link_tag "review_stages", :media => "all" %>

<div class="row index-view">

    <ul class="arrowlist" data-title="復習期間設定">
        <% @stages.each do |stage| %>
        <% next unless stage.id %>
        <% if stage.stage == 1 %>
        <li class="stage-li">stage: <%= stage.stage %></li>
        <% else %>
        <li class="arrow-li"><i class="fas fa-chevron-down"></i><a href="#edit<%= stage.id %>" data-lity>
                <%= stage.after_days %>日後</a></li>
        <li class="stage-li">stage: <%= stage.stage %></li>
        <%= render partial: 'review_stages/edit', locals: { stage: stage, next_stage: @next_stage} %>
        <% end %>
        <% end %>
        <hr>
        <%= form_with model: @stage do |stage| %>
        <li class="arrow-li form-li"><i class="fas fa-chevron-down"></i>
            <%= stage.text_field :after_days, class: 'afterdays-field' %>日後</li>
        <li class="stage-li">stage: <%= @next_stage %>
            <%= stage.hidden_field :stage, value: @next_stage %>
            <%= stage.submit '作成', class: "create-btn btn btn-outline-primary btn-sm" %></li>
        <% end %>
    </ul>
</div>