
<%= stylesheet_link_tag "sections", :media => "all" %>

<div class="container">
    <div class="row new-view">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item">
                    <%= link_to @section.chapter.course.title, course_path(@section.chapter.course) %>
                </li>

                <li class="breadcrumb-item">
                    <%= link_to @section.chapter.title, course_chapter_path(@section.chapter.course, @section.chapter) %>
                </li>

                <li class="breadcrumb-item active" aria-current="page">
                    <%= @section.title %>
                </li>
            </ol>
        </nav>

        <h2>edit section</h2>
        <hr>

        <%= form_with model: [@chapter, @section] do |section| %>

            <div class="field">
                <%= section.label :title %><br />
                <%= section.text_field :title, class: 'title_field' %>
            </div>

            <div class="field">
                <%= section.label :content %><br />
                <%= section.text_area :content, class: 'content_field' %>
            </div>

            <div class="actions">
                <%= section.submit '更新', class: "create-btn" %>
            </div>
        <% end %>
    </div>
</div>

