
<%= stylesheet_link_tag "courses", :media => "all" %>

<div class="row index-view">

  <section>
    <div class="text-center text-white">
      <h2 class="display-4 fw-bolder">コース 一覧</h2>
      <p class="lead fw-normal mb-0">Review is power</p>
    </div>
  </section>

  <ul class="d-flex  flex-wrap justify-content-around course-ul">
    <% @courses.each do |course| %>
      <li>
        <div class="course-image"><%= attachment_image_tag course, :image %></div>
        <h1><%= link_to course.title, course_path(course) %></h1>
        <p><%= course.caption %></p>

        <% if user_signed_in? %>
          <% progress_per = course.get_course_progress(current_user.id) %>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success"
                  style="width:<%= progress_per %>%"
                  role="progressbar"
                  aria-valuenow="<%= progress_per %>"
                  aria-valuemin="0"
                  aria-valuemax="100"><%= progress_per %>%</div>
          </div>
        <% end %>

        <% if admin_signed_in? %>
          <a href="#form_<%= course.id %>" data-lity>edit</a>
          <%= link_to "delete", course_path(course), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <%= render partial: 'courses/form', locals: { course: course, is_new: false} %>
        <% end %>

      </li>
    <% end %>
  </ul>

  <% if admin_signed_in? %>
    <a href="#form_<%= @new_course.id %>" data-lity>new_course</a>
    <%= render partial: 'courses/form', locals: { course: @new_course, is_new: true} %>
  <% end %>


</div>

<%= javascript_pack_tag 'courses' %>