

<%= stylesheet_link_tag "courses", :media => "all" %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="container-fluid">
    <div class="row show-view">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"><%= @course.title %></h1>
                    <p class="lead fw-normal text-white-100 mb-0"><%= @course.caption %></p>
                </div>
            </div>
        </section>

        <main>
        
            <ul class="nav flex-column chapter-list">
                <% @chapters.each do |chapter| %>
                    <% next unless chapter.id %>

                    <li class="nav-item">
                        <div class="d-flex align-items-center nav-headline">
                            <%= link_to chapter.title, course_chapter_path(@course, chapter), class: 'nav-link chapter-list-title' %>
                            <button class="btn btn-link btn-sm" data-target="#collapse-menu<%= chapter.id %>" data-toggle="collapse">
                                <i class="material-icons">keyboard_arrow_down</i>
                            </button>
                        </div>

                        <ul id="collapse-menu<%= chapter.id %>" class="collapse list-unstyled pl-3">
                            <% chapter.sections.each do |section| %>
                                <li class="section-item"><a href="#" class="nav-link"><%= section.title %></a></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>

                <li class="nav-item">
                    <div class="d-flex align-items-center nav-headline">
                        <%= form_with model: [@course, @chapter] do |chapter| %>
                            <div class="input-group">
                                <%= chapter.text_field :title, class: "form-control" %>
                                <div class="input-group-append">
                                    <%= chapter.submit "作成", class: "input-group-text" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </li>
            </ul>
        </main>
        
    </div>
</div>





