
<%= stylesheet_link_tag "chapters", :media => "all" %>

<div class="row show-view">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"><%= @chapter.course.title %></div>

                        <% @chapter.course.chapters.each do |chapter| %>
                            <div class="chapter-nav">
                                <%= link_to chapter.title, course_chapter_path(chapter.course, chapter), class: "nav-link" %>
                                <a class="nav-link collapsed angle-down" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts<%= chapter.id %>" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                            </div>
                            
                            <div class="collapse" id="collapseLayouts<%= chapter.id %>" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <% chapter.sections.each do |section| %>
                                        <%= link_to section.title, chapter_section_path(chapter, section), class: "nav-link" %>
                                    <% end %>
                                </nav>
                            </div>
                        <% end %>
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!--
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <%= link_to @chapter.course.title, course_path(@chapter.course) %>
                        </li>
                        <li class="breadcrumb-item active"><%= @chapter.title %></li>
                    </ol>
                    -->

                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2"><%= @chapter.title %></h1>

                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                            <% if admin_signed_in? %>
                                <a class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editModal">編集</a>
                                <%= link_to "削除", course_chapter_path(@chapter.course, @chapter), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-secondary" %>
                            <% end %>
                             </div>
                        </div>

                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4><div class="modal-title" id="myModalLabel">チャプタータイトル 編集</div></h4>
                                    </div>
                                    <div class="modal-body">
                                        <%= form_with model: [@chapter.course, @chapter] do |chapter| %>
                                            <div class="input-group">
                                                    <%= chapter.text_field :title, class: "form-control" %>
                                                <div class="input-group-append">
                                                    <%= chapter.submit "更新", class: "input-group-text" %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Section</th>
                                    <% if admin_signed_in? %>
                                    <th scope="col">Link</th>
                                    <% end %>
                                </tr>
                            </thead>

                            <tbody>
                                <% @chapter.sections.each.with_index(1) do |section, i| %>
                                    <% next unless section.id %>
                                    <tr>
                                        <th scope="row"><%= i %></th>
                                        <td>
                                        <%= link_to section.title, chapter_section_path(@chapter, section) %>
                                        </td>
                                        <% if admin_signed_in? %>
                                        <td>
                                            <div class="btn-toolbar mb-2 mb-md-0">
                                                <div class="btn-group me-2">
                                                <%= link_to '編集', edit_chapter_section_path(section.chapter, section), class: "btn btn-sm btn-outline-secondary" %>
                                                <%= link_to "削除", chapter_section_path(section.chapter, section), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-secondary" %>
                                                </div>
                                            </div>
                                        </td>
                                        <% end %>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <%# if admin_signed_in? %>
                            <%= link_to 'new section', new_chapter_section_path(@chapter) %>
                        <%# end %>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>


