
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid nav">
            <a class="navbar-brand" href="/">RepeTech</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <%= link_to "コース一覧", courses_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to '記事一覧', articles_path, class: 'nav-link' %>
                    </li>

                    <% if admin_signed_in? %>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= current_admin.name %></a>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: 'nav-link' %>
                        </li>                                            
                        
                    <% elsif user_signed_in? %>
                        <li class="nav-item">
                            <%= link_to '記事投稿', new_article_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'お気に入り', favorites_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                            <%= link_to '復習リスト', review_sections_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= current_user.name %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <%= link_to '記事投稿', new_article_path, class: 'dropdown-item' %>
                                <%= link_to '復習期間設定', review_stages_path, class: 'dropdown-item' %>
                                <div class="dropdown-divider"></div>
                                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: 'dropdown-item' %>
                            </div>
                        </li>

                    <% else %>
                        <li class="nav-item">
                            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
                        </li>
                    <% end %>
                </ul>

                <%= form_with url: search_path, method: :get, class: "d-flex" do |f| %>
                    <%= f.text_field :keyword, value: @keyword, class: "form-control me-2" %>
                    <%= f.submit "検索", class: "btn btn-outline-light" %>
                <% end %>
            </div>
        </div>
    </nav>
</header>
